.header_sdr {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999;
}

body {
    background: #EFE9E9;
}

.mui-bar-nav {
    -webkit-box-shadow: 0 0px 0px #f5f5f5 !important;
    box-shadow: 0 0px 0px #f5f5f5 !important;
}

.mint-swipe-indicator.is-active {
    background: #007AFF;
    opacity: 1;
}

.baoyou {
    color: #2CA9E0;
    font-size: 12px;
    border: 1px solid #2CA9E0;
    border-radius: 8px;
    padding: 1px 3px;
}

.header_sdr.act {
    background: #fff
}

.header_sdr.act input {
    background: #F6F6F6 !important
}

.header_sdr.act .cf {
    color: #666 !important
}


.header_er {
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    top: 0px;
    background: #fff;
    height: 42px;
    line-height: 42px;
    z-index: 999;

}

.zhigoulogo {
    width: 65px;
    height: 17px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}






.jgh_ddre_er {
    width: 200px;
    margin: auto;
    border-top: 1px solid #BCBDB9;
    margin-top: 25px;
    text-align: center;
}

.jgh_ddre_er span {
    background: #EFE9E9;
    position: relative;
    bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.foiu_de_dr {
    border-bottom: 0px;
    background: #3C3D42;

}

.sd_logo_er {
    width: 24px;
    position: relative;
    left: 5px;
    top: 4px;
}

.dibu_dertdc {
    line-height: 1.4
}

.sd_kjyh_eet {
    display: inline-block;
    -webkit-transform: scale(0.8);
    transform: scale(0.8)
}

.geng_dert {
    width: 20px;
    position: relative;
    bottom: 1px
}

.sd_kh_slist li {
    background: #fff;
    border-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 0px 5px rgba(0, 0, 0, .1);
}

.tuijian_sdr {
    background: #F8F8F8;
    text-align: center;
}

.tuijian_sdr img {
    width: 80%;
}

.sd_jh_dertxfr {
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
}

.df_jh_er {
    line-height: 1.3;
    height: 34px;
}

.d_jh_dertfr {
    position: absolute;
    right: 10px;
}

.jgh_ddre_er {
    width: 200px;
    margin: auto;
    border-top: 1px solid #BCBDB9;
    margin-top: 25px;
    text-align: center;
}

.jgh_ddre_er span {
    background: #EFE9E9;
    position: relative;
    bottom: 10px;
}

.sd_jh_det {
    height: 180px;
    text-align: center;
}

.sd_jh_det img {
    height: 100%;
    width: 100%;
}

.load_am {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 60px;
    height: 60px;
    z-index: 10000;
    text-align: center;
    line-height: 60px;
}

.load_quan {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(360deg);
    animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
}

.load_logo_sd {
    width: 20px;
}





.dsf_jhh_er:after {
    content: ' ';
    position: absolute;
    left: -20px;
    top: 4px;
    z-index: 999;
    width: 100%;
    height: 0;
    border-top: 20px solid #fff;
    ;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    z-index: 1;
}

.df_jh_ertxc input {
    line-height: 1.5 !important;
    font-family: 'SimSun';
    margin: 0px !important;
}

.mui-bar .mui-title {
    height: 40px;
    top: -2px;
}

.jh_dfd_derrt {
    position: absolute;
    left: 13px;
    top: -3px;
    line-height: 0px;
    padding: 8px 5px;
    border-radius: 20px;
    height: 15px;
    border: 1px solid #F44336;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    color: #F44336 !important;
    background: #fff;
}

button.mint-msgbox-btn.mint-msgbox-confirm {
    background: #F44336;
    color: #fff;
    border-radius: 0px;
}

.mint-msgbox-btn {
    line-height: 1
}

.mint-msgbox-content {
    padding-top: 20px;
    padding-bottom: 20px;
}



.dsf_jhh_er:after {
    content: ' ';
    position: absolute;
    left: -20px;
    top: 4px;
    z-index: 999;
    width: 100%;
    height: 0;
    border-top: 20px solid #fff;
    ;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    z-index: 1;
}

.df_jh_ertxc input {
    line-height: 1.5 !important;
    font-family: 'SimSun';
    margin: 0px !important;
}

.mui-bar .mui-title {
    height: 40px;
    top: -2px;
}




.asd_uy_dftx {
    background: #fff;
    line-height: 40px;
    overflow: hidden
}

.headF_icon {
    width: 32px;
}

.df_jh_ertxc {
    height: 38px;
    bottom: 7px;
    padding-bottom: 8px;
}

.df_jh_ertxc input {
    height: 100% !important;
    line-height: 40px;
    text-indent: 20px;
    text-align: left;
}

.mint-button--primary {
    background: #0076EF
}

.df_jh_ertxc i.dx {
    position: absolute;
    left: 15px;
    top: 2px;
    font-size: 19px;
    z-index: 100;
}

.mint-swipe-indicator.is-active {
    background: #007AFF;
    opacity: 1;
}

.d_jh_eer .liyu_tuwen {
    height: 9rem !important
}

.df_jh_ertxc input {
    line-height: normal!important
}

.asd_uy_dftx .icon-caidan {
    font-size: 26px !important;
    position: relative;
    top: -1px
}

.asd_uy_dftx {
    z-index: 999
}

.cp_icon_sdf {
    width: 82px;
    height: 82px;
    border: 1px solid #e0e0e0;
}

.cp_icon_sdf img {
    max-height: 100%;
    max-width: 100%;
}

.sdf_jh_dertx {
    line-height: 1.3;
    height: 36px;
}

.dsf_hg_dser {
    margin-top: 13px;
}

.dsf_jh_rr_s {
    position: absolute;
    left: 10px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fff
}

.dsf_jh_deer {
    width: 170px;
}

.sdf_hjgh_sdr {
    height: 30px;
    line-height: 30px;
}

.dsf_juh_er {}

.dsf_juh_er input {
    height: 100%;
    width: 100px;
    text-indent: 0px;
    padding: 0px;
    text-align: center;
    border: 0px;
}

.mt7 {
    margin-top: 7px;
}

.df_sdfrt {
    padding: 0px 8px;
    display: inline-block;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    position: relative;
    left: -5px;
    padding-top: 2px;
}

.hs_khsd {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAAAICAMAAABta0kZAAABL1BMVEWS5viT5veW5faX5faY5/if4vGk5vat7Pit7Pqw4erC4O7N5/bP6O3U6fPU9/ja9vja9/zh8Pfi8/rk+f3p+Pvt9/3y/vvz+v/z/fr0/P/0//f1///29P/3///4/P/4/f/4//z4///5/f/5/v/5//r5//35///6v736///7lZz7+//7//z7//37///8lJz8l578mKH8oKf8/Pz8/fj8/f/8//v8//38///9k5z9wsf9xMX9+/z9/fv9/f39/f/9/v/9//n9//r9//z9///+lJ3+lp/+6+7++//+/P3+/fv+/vz+/v7+/v/+//j+//v+//3+////+fD/+vf/+/f/+////Pn//P///fr//fz//f7//f///vj//vv//vz//v////b///j///r///v///3///9f8AGWAAAA6klEQVQYGW3BwUrDMACA4b/pkrpqJnVlWPRgDyoehifBZ/C9BU8qCGMHEVFhiLW6ldZuq40HNxGS7/N6UnRleTHS2N4O0AG/Svm4Q3bVYFOD83zc2RhG4Y0oNQ6Djyjb45/tBoegp9InEaYQnjzjUNQ1MSuF0nF8iYPoHLGIxNZE5qZf4uC9gGSlIDHjGofAn+QPpwLkdLftYjOH31W8YCXPjKHB5vlBEulPEYKZzTS291k7v2ZtiTFfDbaO2l+EAyUApUc4pHcs+TOfYO5xkPJ4E9WIMsH0BbZXVUHCWoNZ1th876xqs9vpDye1Ul6HHXo4AAAAAElFTkSuQmCC');
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
}

.mui-table-view:before,
.mui-table-view:after,
.mui-table-view-cell:after,
.mui-input-group:before,
.mui-input-group:after,
.mui-input-group .mui-input-row:after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    background-color: #F5F5F5;
    left: 0px;
}

.mint-switch-input:checked + .mint-switch-core {
    border-color: #35CF83;
    background-color: #35CF83
}

.df_jgh_sr {
    width: 21px;
    height: 25px;
    background-position: -151px -236px;
}

.d_jh_title {
    line-height: 40px;
}

.ds_jh_rertxc {
    position: relative;
    top: 5px;
}

.mui-table-view-cell {
    padding-left: 10px;
    padding-right: 10px;
}

.d_jh_ertxc {
    padding-top: 8px;
    padding-bottom: 10px;
    line-height: 2.4
}

.dsf_jh_drf {
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    line-height: 50px;
}

.dsf_jhsd {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid #D1D1D1;
    text-align: center;
    line-height: 22px;
}

.l40 {
    line-height: 40px;
    padding: 0px;
    border: 0px !important;
}

.dsf_jhsd .dx {
    display: none
}

.dsf_jhsd.act {

    background: #0076EF;

    border: 1px solid #0076EF;
}

.dsf_jhsd.act .dx {
    display: block;
    color: #fff;
    font-size: 12px !important;
    position: relative;
    top: -2px;
    left: 1px;
}

.sdf_jh_eetrx {
    position: fixed;
    left: 0px;
    bottom: 55px;
    width: 100%;
    z-index: 1000
}

.mint-switch label {
    width: auto !important
}

.mint-switch,
.mint-switch-core,
.mint-switch-core::after,
.mint-switch-core::before {
    height: 25px !important;
}

.mint-switch-core {
    height: 27px !important;
}

.ssj_setxcc {
    position: absolute !important;
    right: 10px!important;
    top: 6px !important;
    font-size: 12px !important
}

.dsf_jh_ertxc {
    position: fixed;
    left: 0px;
    top: 44px;
    background: #fff;
    width: 100%;
    line-height: 40px;
    z-index: 100
}

.dsf_jh_ertxc .box_a span {
    padding-left: 10px;
    padding-right: 10px;
}

.dsf_jh_ertxc .box_a.act span {
    color: #EE5550;
    padding-bottom: 12px;
    border-bottom: 1px solid #EE5550;
}

.sd_jhIs {
    padding-top: 86px;
}

.dsf_khj_ert {
    width: 220px;
    margin: auto;
}

.s_jh_wettxc .mint-popup {
    border-radius: 8px;
}

.tioui_sd {
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
}

.df_jgh_drtx {
    width: 80px;
    height: 80px;
    margin-top: -28px
}

.df_jgh_drtx img {
    z-index: 100;
    width: 100%;
    width: 60px;
}

.dsf_jgh_e {
    border-bottom: 1px solid #E1E1E1;
    text-align: center;
}

.dsf_jgh_e.ab {
    width: 250px;
    margin: auto;
}

.dsf_jgh_e span {
    background: #EFEFF4;
    padding: 5px 10px;
    position: relative;
    top: 10px;
}

.df_jh_ertxc_we {
    background: #CEE6FF;
    display: block;
    text-align: center;
    line-height: 28px;
    height: 28px;
}

.pt3 {
    padding-top: 3px;
}

.dsf_jh_dertxc p {
    font-size: 12px !important;
}

.icon-shoucang.act:before {
    content: "\e630";
    color: #F44336!important
}

.warning {
    font-size: 12px;
}

.warning li {
    line-height: 30px;
    color: #666
}

.warning li span {
    height: 5px;
    width: 5px;
    background-color: #ff8c68;
    border-radius: 50%;
    display: inline-block;
    margin: 12px 5px 0 5px;
    float: left;
}

.dsf_jh_dertx img {
    width: 100%;
}

.dsf_jh_detxc {
    position: relative;
    bottom: 8px;
}

.auo {
    margin: auto
}

.customer_inner_tit {
    text-align: center;
    font-size: 16px;
    color: #3e4350;
    border-bottom: 1px solid #eee;
    font-weight: 600;
}

.customer_inner_tit span {
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-bottom: 3px solid #11c2db;
}

.copy_bottom_bg {
    width: 44px;
}

.dsf_jgh_ert {
    height: 9.5rem;
    min-height: 140px;
    position: relative;
}

.heng_bgfs {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;

    -webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, .4);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .4);
    border-radius: 8px;
}

.dsf_jgh_ert {}

.f_j_eretxc {
    width: 95px;
}

.user_iconsd {
    width: 70px;
    height: 70px;
    border: 2px solid #FFDA91;
}

.xiaos_sf {
    width: 23px;
    height: 23px;
    background-position: -15px -26px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.hiu_sd {
    width: 66px;
    height: 18px;
    background-position: -58px -29px;
    font-size: 12px;
    color: #38393e;
    line-height: 18px;
    text-indent: 8px;
}

.mui-bar-nav {
    -webkit-box-shadow: 0 0px 0px #f5f5f5;
    box-shadow: 0 0px 0px #f5f5f5;
}

.hiu_sd span {
    display: inline-block;
    -webkit-transform: scale(0.8);
    transform: scale(0.8)
}

.sdf_dhf_er {
    width: 182px;
}



.xiaoy_tapsd .mint-tab-item-label {
    font-size: 14px;
    color: #fefefe
}

.xiaoy_tapsd .mint-navbar {
    background: #1D8AE7
}

.xiaoy_tapsd .mint-tab-item.is-selected {
    border-bottom: 0px;
    background: #0067BE;
    margin-bottom: 0px;
}

.xiaoy_tapsd.ab .mint-tab-item {
    padding: 10px 0px 5px 0px;
    ;

}

.xiaoy_tapsd.ab .mint-tab-item-label {
    line-height: 1.5
}

.wulist_s li {
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
}

.fen_sdf_ertx {
    width: 52px;
    height: 52px;
}

.sd_jh_derx {
    line-height: 1.4;
    height: 35px;
}

.ds_kh_tieer .picker-toolbar {
    padding-left: 15px;
    padding-right: 15px;
}

.ds_kh_tieer .mint-datetime-action {
    text-align: left !important;
    color: #999
}

.ds_kh_tieer .mint-datetime-confirm {
    text-align: right!important;
    color: #0076EF !important;
}

.mint-datetime .picker-toolbar {
    border-bottom: 1px solid #f5f5f5
}

.ds_kh_tieer .picker-center-highlight {
    background: #EEEEEE;
}

.picker-slot {
    position: relative;
    z-index: 100
}

.picker-center-highlight:before,
.picker-center-highlight:after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    background-color: #f5f5f5;
}

.jh_liu_s {
    width: 25px;
}

.right_icons {
    width: 10px;
    height: 17px;
    background-position: -268px -351px;
    position: absolute;
    right: 10px;
    top: 14px;
}

.shenghri_w {
    position: absolute;
    right: 28px;
    top: 12px;
}

.baocun_btn {
    position: fixed;
    left: 0px;
    bottom: 20px;
    width: 100%;
}

.baocun_btn .mui-btn {
    height: 40px;
    line-height: 40px;
    padding: 0px;
}

.mint-toast.is-placemiddle {
    z-index: 99999 !important
}

.star_icon.act:before {
    content: "\e630";
}

.ssj_setxcc {
    padding: 4px 10px 4px 10px !important;
    position: relative;
    top: 7px !important;
}



.load_am {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 60px;
    height: 60px;
    z-index: 10000;
    text-align: center;
    line-height: 60px;
}

.load_quan {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    -webkit-transform: rotate(360deg);
    animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
}

.load_logo_sd {
    width: 20px;
}

.jiazai_texte {
    position: absolute;
    left: 0px;
    width: 70px;
    bottom: -50px;
    text-align: center;
    font-size: 12px;
    left: 0px;
}

.daohang_sd {
    height: 45px;
    background: #F1F2F6;
    position: fixed!important;
    left: 0px;
    width: 100%;
    top: 0px;
    line-height: 45px;
    z-index: 300;

}

#sd_jh_drttx div,
#sd_jh_drttx table {
    font-size: 12px;
    color: #676a6c;
}



.icon-sousuo {
    color: #B0B0B0
}







.ziti {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-weight: 600
}


.dgf_jgh_ertx i.fz14 {
    font-size: 12px !important
}




.Fixed-card-content.no-padding p {
    height: 20px !important;
    overflow: hidden
}


.dingdn_se {
    padding-top: 9px;
}


.pingjia_sd {
    width: 33.33%;
    float: left;
    padding-bottom: 33.33%;
    position: relative;
    float: left;
    overflow: hidden;
    cursor: pointer;
    background-color: #edeeee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}

.pingjia_sd:before {
    content: '';
    display: block;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    height: 5px;
    width: 100%;
    bottom: 0;
}

.pingjia_sd:after {
    content: '';
    display: block;
    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 5px;
    top: 0;
}


.et_sdf {
    width: 23px;
    height: 22px;
    background-position: -226px -238px;
    position: relative;
    bottom: 2px
}

.et_sdf.act {
    background-position: -191px -237px;
}

.df_jh_edert {
    border-top: 30px solid #fff !important;
    position: relative;


}

.dsf_jh_dertx {
    position: relative;
    bottom: 21px;
    border: 1px solid #fff
}

.df_jh_edert:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    left: 0px;
    top: 0px;
    -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, .1);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .1);
}

.dsf_jhh_er {
    padding: 2px 10px;
    position: relative;
    background: #fff;





}


.dsf_jhh_er:after {
    content: ' ';
    position: absolute;
    left: -20px;
    top: 4px;
    z-index: 999;
    width: 100%;
    height: 0;
    border-top: 20px solid #fff;
    ;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    z-index: 1;
}

.df_jh_ertxc input {
    line-height: 1.5 !important;
    font-family: 'SimSun';
    margin: 0px !important;
}

.mui-bar .mui-title {
    height: 40px;
    top: -2px;
}

.jh_dfd_derrt {
    position: absolute;
    left: 13px;
    top: -3px;
    line-height: 0px;
    padding: 8px 5px;
    border-radius: 20px;
    height: 15px;
    border: 1px solid #F44336;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    color: #F44336 !important;
    background: #fff;
}

button.mint-msgbox-btn.mint-msgbox-confirm {
    background: #F44336;
    color: #fff;
    border-radius: 0px;
}

.mint-msgbox-btn {
    line-height: 1
}

.mint-msgbox-content {
    padding-top: 20px;
    padding-bottom: 20px;
}



.dsf_jhh_er:after {
    content: ' ';
    position: absolute;
    left: -20px;
    top: 4px;
    z-index: 999;
    width: 100%;
    height: 0;
    border-top: 20px solid #fff;
    ;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    z-index: 1;
}

.df_jh_ertxc input {
    line-height: 1.5 !important;
    font-family: 'SimSun';
    margin: 0px !important;
}

.mui-bar .mui-title {
    height: 40px;
    top: -2px;
}




@media screen and (max-width: 330px) {
    .f_j_eretxc {
        width: 85px;
    }
    .user_iconsd {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 600px) {
    .fm_er_ert {
        height: 11.9rem !important;
    }
    .sd_jh_det {
        height: 305px;
    }
}



@-webkit-keyframes rotation{
    0%{-webkit-transform:rotate(0);}
    100%{-webkit-transform:rotate(360deg);}
}
@keyframes rotation{
    0%{-webkit-transform:rotate(0);transform:rotate(0);}
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}







.shop_top {
    background: url(http://mall.cangniaowl.com/static_main/img/top_user.jpg);
    background-size: 100% 100%;
    padding-bottom: 20px !important;
    z-index: 2000
}

.shezhi_icon {
    width: 18px;
    height: 18px;
    background-position: -63px -46px;
}

.xiaoxisd {
    width: 18px;
    height: 18px;
    background-position: -95px -47px;
    margin-left: 5px;
}

.user_icon {
    width: 62px;
    height: 62px;
}
.sd_jh_dert{
   height: 124px
}

.right_iocn {
    width: 8px;
    height: 14px;
    background-position: -14px -47px;
    position: relative;
    bottom: 1px;
}

.zhuanshi_icon {
    width: 16px;
    height: 15px;
    background-position: -34px -50px;
}

.sdf_kjj_eer {
    padding-top: 8px;
}

.d_jh_dfd_drt {
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#AB8463), to(#8F725A));
    background: linear-gradient(to right, #AB8463, #8F725A);
    position: absolute;
    right: -20px;
    top: 55px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 30px;
    z-index: 100
}

.d_jh_dfd_drt img {
    width: 20px;
    position: absolute;
    left: 5px;
}

.sdf_kjh_sd {
    border-right: 1px solid #E7807D
}

.sdf_kjh_sd:last-child {
    border: 0px;
}

.d_jg_dert {

    position: relative;
    background: transparent !important;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 100;
    padding-top: 0px !important
}

.d_jg_dert li {
    padding-top: 8px;
    padding-bottom: 5px !important;
    background: #fff;
    margin-top: 5px;
    border-radius: 10px;
}

.s_ikujh_dert {
    width: 39px;
    height: 39px;
    border: 1px solid #e0e0e0;
}

.right_inos {
    width: 7px;
    height: 12px;
    background-position: -131px -51px;
    margin-left: 5px;
    position: relative;
    bottom: 1px
}

.dinbpui_er {
    color: #E15D59;
    font-size: 12px;
}

.sd_jh_dertd {
    background: #F4F4F4;
    height: 7rem;
}

.sd_jh_dertd img {
    width: 100%;
    height: 100%;
}

.di_jh_der {
    background: #F4EBE2;
    color: #af8764;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    line-height: 24px;
}

.di_jh_der span {
    display: inline-block;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    position: relative;
    top: 1px
}

.dsf_jh_dertt .sdf_kjh_sd {
    /*    border-right: 1px solid #D8D8D8;*/
    border: 0px;
    line-height: 1.4
}

.dsf_jh_dertt .sdf_kjh_sd:after {
    content: ' ';
    position: absolute;
    right: 0px;
    top: 7px;
    height: 30px;
    border-left: 1px solid #D8D8D8;
}

.dsf_jh_dertt .sdf_kjh_sd:last-child:after {
    display: none
}

.loadin_s {
    display: none
}
.di_jh_der{
    padding: 0px !important;
    text-align: left;
    text-indent: 0px !important;
}
.di_jh_der span{
    display: inline-block;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);

}
.d_jg_dert.ab li{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px !important;
}
.sd_jh_erdert{
    display: inline-block;
    position: relative;
    bottom: 1px;
    left: -4px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9)
}
@media screen and (min-width: 600px) {
    .sd_jh_dertd {
        height: 200px;
    }
}
